<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Thomas Peeler's Tech Blog</title>
</head>

<body>
    <!-- add navbar with navigatable links to routes -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/api/posts/dashboard">
                    Dashboard
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {{#if logged_in}}
                        <a class="button is-dark" href="/logout" id="logout">Logout</a>
                        {{else}}
                        <a class="button is-light" href="/login">
                            Log in/Sign Up
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {{{body}}}

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>