<!-- login form-->
    <form  class="login-form">
        <div class="container">
            <label for="email-login">Email</label>
            <input class="form-input" type="text" placeholder="Enter Username"  id="email-login"/>
            <label for="password-login">Password</label>
            <input type="text" placeholder="Enter Password"  id="password-login"/>
            <button type="submit">Login</button>
        </div>
    </form>


    <!-- register form-->
    <aside>
        <form  class="signup-form">
            <div class="container">
                <label >New Username</label>
                <input type="text" placeholder="Enter Username"  id="name-signup">
                <label >New Email</label>
                <input type="text" placeholder="Enter Username"  id="email-signup">
                <label >New Password</label>
                <input type="text" placeholder="Enter Password"  id="password-signup">
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </aside> 

    <script src="./js/login.js"></script>