<!-- login form-->
    <form  class="login-form">
        <div class="container">
            <label>Email</label>
            <input type="text" placeholder="Enter Username" name="email" required id="email-login">
            <label >Password</label>
            <input type="password" placeholder="Enter Password" name="password" required id="password-login">
            <button type="submit">Login</button>
        </div>
    </form>


    <!-- register form-->
    <aside>
        <form  class="signup-form">
            <div class="container">
                <label >New Username</label>
                <input type="text" placeholder="Enter Username" name="uname" required id="name-signup">
                <label >New Email</label>
                <input type="text" placeholder="Enter Username" name="uname" required id="email-signup">
                <label >New Password</label>
                <input type="password" placeholder="Enter Password" name="psw" required id="password-signup">
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </aside> 